#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
#light{
  width: 400px;
  height: auto;
}
#btn{
  width: 100px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}